.choices-box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px rgb(22, 224, 93) solid;
  min-width: 45vw;
  height: 15vh;
  bottom: 0px;
}

.choice {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px red solid;
  color: aqua;
  width: 13vw;
  height: 5vh;
}