.choices-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px rgb(22, 224, 93) solid;
  max-width: 40vw;
  height: 15vh;
}

.choice {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px red solid;
  color: aqua;
  width: 13vw;
  height: 5vh;
}